p {
  padding: 0;
}

.friendList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 200px auto;
  max-width: 900px;
  padding: 0;
}

.listItem {
  width: 150px;
  height: 248px;
  border-radius: 8px;
  border: 2px solid black;
}
